:root {
  --blue: #204B57;
  --beige: #F5F5DC;
  --vert: #475600;
  --white: #ffffff;
}/*Permet de changer la couleur facilement, si on change la valeur de var(--vert) alors ca change tout les verts sans les modifier un par un*/


* { box-sizing: border-box; }

body { 
  margin: 0; 
  background: var(--white); 
  font-family: Arial, sans-serif;
  color: var(--beige);
  font-size: 16px;
}

/*HEADER & TOP BAR*/
.header {
  position: relative;
  height: 60vh; /* 60% de la hauteur de l'écran */
  min-height: 400px;
  background: url('../images/fondheader.JPG') no-repeat center 80% / cover;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2% 0 5%;
  color: var(--white);
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 4%;
  position: relative; /* Pour le positionnement du menu */
  z-index: 2000;
}

/* LOGO CENTRE */
.logo {
  display: flex;
  justify-content: center;
  flex: 1;
}

.logo img { 
  height: 12vh;
  min-height: 70px;
  width: auto;
}

/* BOUTONS (Burger & Accueil) */
.burger {
  background: var(--vert);
  padding: 10px 15px;
  border-radius: 8px;
  font-size: 1.5rem;
  cursor: pointer;
  color: var(--white);
}

.btn-accueil {
  background: var(--vert);
  color: var(--white);
  text-decoration: none;
  font-weight: bold;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 1rem;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

/*MENU DÉROULANT (FIXÉ)*/
.menu-box {
  position: relative;
}

.nav-menu {
  display: none;/* Caché par défaut*/
  position: absolute;/* Positionné par rapport à .menu-box */
  top: 140%; /* Défile uste sous l icone burger */
  left: 0;/* Aligné à gauche */
  width: 150px;/* Largeur du menu défilant */
  background:  var(--vert);/* Fond du menu défilant */
  border-radius: 12px;/* Coins arrondis pour le menu défilant*/
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);/* Ombre pour le menu défilant pour le mettre en valeur*/
  padding: 10px 0;/* Espace intérieur du menu, écart entre texte et bord du bloc menu défilant */
  z-index: 3000;/* Au dessus des autres éléments, qu'il soit toujours visible */
}

.nav-menu a {
  display: block;/* Chaque lien prend toute la largeur disponible */
  padding: 12px 20px;/* Espace autour du texte */
  color: var(--white);/* Couleur du texte */
  text-decoration: none;/* Pas de soulignement */
  font-weight: bold;/* Texte en gras, plus visible et lisible */
  
}

.nav-menu a:hover {
  background: var(--vert);/* Fond bleu au hover pour rendre plus compréhensible/visible le bouton où la souris se trouve*/
  color: var(--white);/* Texte blanc au hover*/
  padding-left: 25px;/* Décalage du texte vers la droite au hover, rend plus compréhensible/visible le bouton où la souris se trouve */
  transition: 0.3s;/* Transition douce pour l'effet hover, plus agréable */
}

#menu-toggle:checked ~ .nav-menu {
  display: block;/* Affiche le menu lorsque la case est cochée */
  animation: fadeIn 0.3s ease-out;/* Animation d'apparition douce */
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-10px); }/* Départ de l'animation */
  to { opacity: 1; transform: translateY(0); }/* Contenu principal */
}

/*TITRE HERO (BAS DU HEADER)*/
.hero-title {
  font-family: 'Great Vibes', cursive;/* Police choisit dans notre charte graphique pour les titres */
  font-size: 8vw; /* Taille du texte */
  text-align: center;/* Centré */
  margin: 0;/* Pas de marge par défaut */
  text-shadow: 2px 2px 10px rgba(0,0,0,0.8);/* Ombre pour lisibilité sur le fond image*/
  padding: 0 2%;
}

/*CONTENU (BLOCS AVEC BORDURE ORANGE)*/
.container { 
  width: 90%; /* Largeur du bloc */
  max-width: 1100px; /* Limite la largeur maximale des blocs*/
  margin: 5% auto; /* Centré avec marge verticale */
}

.row {
  display: flex;/* Pour aligner image et texte côte à côte*/
  flex-direction: column; /* Empilé sur mobile */
  margin-bottom: 5%;/*marge entre les blocs de présentation */
  padding: 4%;/* Espace entre le bord des blocs et le contenu */
  gap: 20px;/*écart entre image et texte */
  border-radius: 15px;/*coins arrondis pour les blocs de présentation*/
  background-color: var(--vert);/* Fond bleu derrière le texte et les images */
}

.img-wrap img {
  width: 100%;/* Largeur de l'image */
  aspect-ratio: 4 / 3;/* Imposer le format 4:3, format qui correspond aux images de base*/
  object-fit: cover;/* Remplit le cadre en coupant si nécessaire, l image s adapte à la place disponible */
  border-radius: 10px;/* coins arrondis pour les images */
}

.text-wrap {
  display: flex;/* Pour centrer le texte verticalement */
  flex-direction: column;/* Empile le texte en mettant le titre au dessus du texte descriptif */
  justify-content: center;/*centre verticalement */
  text-align: center;/*centre horizontalement */
}

h2 { 
  font-family: "Futura Light", sans-serif; 
  letter-spacing: 0.15rem; 
  margin: 0 0 1rem 0; 
  font-size: 1.6rem;
  text-align: center;/*centre horizontalement */
}

p { 
  font-family: "Cormorant Garamond", serif; 
  font-size: 1.25rem; 
  line-height: 1.5; 
  margin: 0;
}

/*CARROUSEL D'IMAGES*/
.carousel-container {
  width: 90%;/* Largeur du carrousel */
  margin: 5%;
  padding: 2%; /* écart par rapport à la bordure générale */
  background: var(--vert);/* Fond derrière les images*/
  border-radius: 15px; /* coins arrondis pour le bloc carrousel*/
  overflow-x: auto; /*permet de faire glisser le contenu horizontalement */
  scroll-snap-type: x mandatory; /* aligne les images proprement lors du scroll */
  scrollbar-width: none;/* Cache la barre de défilement */
}

.carousel-container::-webkit-scrollbar { display: none; }

/*ligne où sont posées les photos */
.carousel-track {
  display: flex; /* Force les images à se mettre côte à côte */
  gap: 1%;      /* écart entre les images */
}

/*Chaque image du carrousel */
.carousel-slide {
  flex: 0 0 100%; /* Force chaque image à prendre 100% de la largeur du cadre */
  display: flex;
  justify-content: center;
}

.carousel-slide img {
  width: 100%;/* Largeur de l'image */
  height: auto; /* Hauteur automatique pour garder les proportions de base de l image*/
  aspect-ratio: 1 / 1; /* Imposer le format carré*/
  object-fit: cover;/* Remplit le cadre en coupant si nécessaire, l image s adapte à la place disponible */
  border-radius: 10px; /* coins arrondis pour les images */
  object-position: 5% center; /* recentre l image pour un meilleur cadrage et avoir les voitures au centre des images du caroussel */
}
/*FOOTER*/
.footer {
  background: var(--vert);
  color: var(--white);
  padding: 5% 4%; /* Marges fluides en % */
  margin-top: 5%;
  text-align: center;
}

.footer-links {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 10px;
}

.footer-links a {
  color: var(--white);
  text-decoration: none;
  font-size: 0.9rem;
}

/* Version Desktop */
@media (min-width: 768px) {
  
}
/*VERSION ORDINATEUR */
@media (min-width: 768px) {
  .hero-title { font-size: 6rem; }
  
  .row { 
    flex-direction: row; 
    padding: 3%; 
    gap: 4%;
  }
  
  .img-wrap { flex: 45%; }
  .text-wrap { flex: 55%; }

  .logo img { height: 15vh; }
  .footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .footer-links { margin: 0; }
}
h2 { 
    font-size: 3rem; /* Au lieu de 1.6rem sur la version mobile */
  }

  /* Augmentation du texte descriptif p dans les blocs */
  p { 
    font-size: 1.7rem; /* Au lieu de 1.25rem sur la version mobile*/
  }
  .carousel-slide {
    flex: 0 0 33.33%; /* 100% de la largeur du bloc caroussel divisé en 3 photos */
  }
